<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/galeria-styles.css">
    <title>Galería de Gatos y Naturaleza</title>
</head>
<body>
    <header>
        <h1>Imágenes de gatos y naturaleza - Fotos tomadas por Itzel Guzmán</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/galeria.html">Galería</a></li>
                <li><a href="../view/saberMas.html">Saber más</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="gallery">
            <div class="image-container">
                <img src="../assets/images/image08.jpeg" alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image07.jpeg" alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image06.jpeg" alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image05.jpeg" alt="image">
            </div>
        </section>
        <section class="gallery">
            <div class="image-container">
                <img src="../assets/images/image04.jpeg" alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image03.jpeg" alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image02.jpeg"alt="image">
            </div>
            <div class="image-container">
                <img src="../assets/images/image01.jpeg" alt="image">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Teresa Itzel. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
