<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/saberMas.css">
    <title>Saber Más - Itzel Guzmán</title>
</head>
<body>
    <header>
        <h1>Conoce más sobre Itzel Guzmán</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/galeria.html">Galería</a></li>
                <li><a href="../view/saberMas.html">Saber más</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section aria-labelledby="resumen-profesional-titulo">
            <h2 id="resumen-profesional-titulo">Resumen profesional</h2>
            <p>Estudiante de ingenieria en sistemas computaciones de 7mo semestre de parte del Instituto Tecnologico Superior de Venustiano Carranza, artista digital y tradicional.</p>
        </section>
        <section aria-labelledby="habilidades-titulo">
            <h2 id="habilidades-titulo">Habilidades y herramientas</h2>
            <ul>
                <li>JavaScript</li>
                <li>Control de versiones de Git y GitHub</li>
                <li>Html y CSS</li>
                <li>React Básico</li>
                <li>JQuery</li>
                <li>SQL</li>
                <li>Python</li>
                <li>Mongo DB</li>
                <li>Diseño frontend y programacion de backend de paginas web</li>
                <li>Analisis de datos con Python</li>
            </ul>
        </section>
        <section aria-labelledby="proyectos-titulo">
            <h2 id="proyectos-titulo">Proyectos</h2>
            <!-- Proyecto 2 -->
            <article aria-label="proyecto-mejor">
                <header>
                    <h3>SOFTEDUCAM - Aplicacion web para niños con dificultad intelectual</h3>
                    <p>
                        <time datetime="2024-11">Septiembre 2024</time>
                        <span>Tecnologías: HTML, Git, GitHub, CSS, JavaScript</span>
                    </p>
                    <p>El proyecto del que mas estoy orgullosa ya que desarrolle varias secciones con reconocimiento de voz y manipulacion de imagenes y audio, en el lenguaje de Javacript</p>
                    <a href="https://github.com/1saac27/SOFTEDUCAM-DI" target="_blank">Ver en Github</a>

                </header>
            </article>
        </section>
        <!-- Contacto -->
        <aside aria-labelledby="contacto-titulo">
            <h2 id="contacto-titulo">Contacto</h2>
            <p>Si deseas discutir un proyecto o colaboración, contáctame a:</p>
            <address>
                <p>Email <a href="mailto:correo@correo.com">itzelgt02@outlook.com</a></p>
            </address>
            <p>Link de LinkedIn</p>
            <p>LinkedIn<a href="https://www.linkedin.com/in/teresa-itzel-guzman-tellez-1b8a48331?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-decoration-none"><i class="bi bi-linkedin"></i> Itzel Guzman </a>
            </p>

        </aside>
    </main>
    <footer>
        <p>&copy; 2024 Itzel Guzmán. Todos los derechos reservados.</p>
        <nav aria-label="Enlaces de redes sociales de Itzel Guzmán">
            <ul>
                <li> <a href="https://www.facebook.com/profile.php?id=100008611874116&mibextid=ZbWKwL" class="text-decoration-none"><i class="bi bi-facebook"></i> Facebook</a>
                </li>
                <li><a href="https://github.com/ItzEko">GitHub</a></li>
                <li><a href="https://www.instagram.com/itzel.coatl/profilecard/?igsh=MTl1ZXUxMWZkNXdv" class="text-decoration-none"><i class="bi bi-instagram"></i> Instagram</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>
